@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
  font-family: "Lato";
  src: url(../fonts/LatoRegular.woff);
}
header {
  min-height: 40px;
  box-shadow: 0 1px 0 #e6e9ed;
  background-color: #f5f7fa;
}
header .margin-top {
  margin-top: 11px;
}
header .mail-icon a {
  color: #506a85;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
}
header .mail-icon a:first-child::before {
  width: 11px;
  height: 9px;
  content: "";
  display: inline-block;
  background-image: url(../img/mail.png);
  margin-right: 8px;
}
header .mail-icon a:last-child::before {
  width: 7px;
  height: 13px;
  content: "";
  display: inline-block;
  background-image: url(../img/icon-mobile.png);
  margin-right: 10px;
  margin-left: 28px;
}
header .menu-logo {
  padding-left: 0;
  font-size: 0;
  text-align: right;
}
header .menu-logo a:nth-child(1) {
  padding: 20px 12px;
}
header .menu-logo a {
  padding: 20px 9px;
}
header .menu-logo a:last-child {
  margin-right: 0;
}
.bg-nav {
  background-color: white;
  border: 0;
}
.navbar-header img {
  margin-top: 22px;
  margin-right: 67px;
}
.main-menu {
  margin-top: 27px;
}
.navbar .nav li a {
  color: #506a85;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 22px;
  padding-bottom: 18px;
  border: 1px solid white;
}
.navbar .nav > li > a:hover {
  color: #00bc9c;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #e6e9ed;
  background-color: #f5f7fa;
}
.menu-logo:hover img {
  filter: brightness(0) invert(1);
}
.menu-logo:hover a:nth-child(1) {
  background-color: #4668b3;
}
.menu-logo:hover a:nth-child(2) {
  background-color: #de5745;
}
.menu-logo:hover a:nth-child(3) {
  background-color: #2fbbed;
}
.menu-logo:hover a:nth-child(4) {
  background-color: #d94348;
}
.menu-logo:hover a:nth-child(5) {
  background-color: #3079ff;
}
.menu-logo:hover a:nth-child(6) {
  background-color: #eb6397;
}
.mail-icon a:hover:first-child {
  color: #00bc9c;
  text-decoration: none;
}
.hovers {
  position: relative;
}
.hovers:hover .megamenu {
  display: inline-block;
}
.megamenu {
  width: 1142px;
  min-height: 435px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e9ed;
  background-color: #f5f7fa;
  display: none;
  position: absolute;
  left: -731px;
  top: 60px;
  z-index: 1;
}
.megamenu h3 {
  color: #506a85;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.megamenu button {
  width: 133px;
  height: 44px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #17a78b;
  background-color: #00bc9c;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  margin-top: 19px;
}
.megamenu .focus img {
  width: 240px;
  height: 164px;
}
.megamenu .focus p {
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 27px;
}
.megamenu .special {
  padding-left: 0px;
  padding-right: 1px;
}
.megamenu .special ul {
  list-style-type: none;
  padding: 0;
}
.megamenu .special ul a {
  text-decoration: none;
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 14px;
  padding: 0;
}
.megamenu .special ul a:hover {
  color: #00bc9c;
}
.megamenu .special ul li {
  margin-bottom: 9px;
}
.megamenu .special ul li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #00bc9c;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 3px;
  margin-right: 12px;
}
.megamenu .latest img {
  width: 118px;
  height: 81px;
  margin-bottom: 5px;
}
.megamenu .about-us {
  padding-left: 0;
}
.megamenu .about-us p {
  width: 242px;
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 14px;
  margin-bottom: 25px;
}
.megamenu .about-us button {
  width: 115px;
  height: 44px;
  margin-top: 0;
}
.bg-design {
  background-image: url(../img/bg.jpg);
  height: 880px;
  text-align: center;
  padding-top: 300px;
}
.bg-design .design {
  margin-left: 0;
  margin-right: 0;
}
.bg-design h1 {
  color: #ffffff;
  font-family: Lato;
  font-size: 78px;
  font-weight: 900;
  line-height: 88px;
  text-transform: uppercase;
}
.bg-design p {
  color: #a3b1bf;
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}
.bg-design .btn-design {
  margin-top: 63px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 295px;
  height: 65px;
  border-radius: 2px;
  background-color: #00bc9c;
}
.beautiful {
  text-align: center;
  margin-top: 129px;
}
.beautiful h2 {
  color: #506a85;
  font-family: Lato;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}
.beautiful p {
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}
.three-blocks {
  margin-top: 80px;
}
.three-blocks h2 {
  color: #506a85;
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: -5px;
}
.three-blocks p {
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 91px;
}
.three-blocks .lamp h2 {
  margin-bottom: -18px;
}
.three-blocks .lamp p {
  margin-left: 79px;
}
.three-blocks .heart h2::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon-heart.png);
  width: 61px;
  height: 53px;
  vertical-align: top;
  margin-right: 30px;
}
.three-blocks .lamp h2::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon-lamp.png);
  width: 46px;
  height: 65px;
  vertical-align: top;
  margin-right: 30px;
}
.three-blocks .star h2::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon-star.png);
  width: 56px;
  height: 53px;
  vertical-align: top;
  margin-right: 30px;
}
.check-out {
  max-width: 1920px;
  min-height: 1300px;
  background-color: #f2f5f7;
  margin-top: 129px;
  padding-top: 130px;
  text-align: center;
}
.check-out h2 {
  color: #506a85;
  font-family: Lato;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}
.check-out p {
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}
.two-img {
  margin-top: 78px;
  text-align: center;
}
.two-img .motel {
  padding-left: 0;
}
.two-img .bg-white {
  width: 570px;
  height: 122px;
  box-shadow: inset 0 -1px 0 1px #e6e9ed;
  border-radius: 3px 2px 2px 3px;
  background-color: #ffffff;
}
.two-img img {
  margin-bottom: -10px;
}
.two-img h6 {
  color: #506a85;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 34px;
}
.two-img p {
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.four-img {
  margin-top: 80px;
}
.four-img img {
  width: 100%;
}
.btn-circle {
  margin-top: 45px;
}
.btn-circle a {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #506a85;
  display: inline-block;
  margin-right: 10px;
}
.btn-circle a:last-child {
  margin-right: 0;
}
.btn-circle a:nth-child(2) {
  background-color: #00bc9c;
}
.work-with-us {
  margin-top: 130px;
  text-align: center;
}
.work-with-us h2 {
  color: #506a85;
  font-family: Lato;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}
.work-with-us p {
  color: #73879c;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
}
.work-with-us .btn-design {
  margin-top: 41px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #00bc9c;
  border-color: #00bc9c;
  margin-bottom: 130px;
}
.bg-footer {
  min-height: 396px;
  background-color: #2f4052;
  padding-top: 75px;
}
footer h6 {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
}
footer p {
  color: #a3b1bf;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
}
footer .footer-bl1 img {
  margin-bottom: 23px;
}
footer .footer-bl1 p {
  margin-bottom: 25px;
}
footer .footer-bl1 .more-info {
  color: #a3b1bf;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}
footer .footer-bl1 .more-info img {
  margin-bottom: 0;
  margin-left: 7px;
}
footer .footer-bl2 {
  padding-left: 0;
}
footer .footer-bl2 img {
  margin-bottom: 5px;
}
footer .footer-bl2 img:nth-child(1),
footer .footer-bl2 img:nth-child(3) {
  margin-right: 5px;
}
footer .footer-bl3 .margin-p {
  margin-bottom: 23px;
}
footer .footer-bl3 img {
  margin-right: 10px;
}
footer .footer-bl3 a {
  text-decoration: none;
}
footer .footer-bl4 p {
  margin-bottom: 19px;
}
footer .footer-bl4 .input-mail {
  margin-left: -15px;
}
footer .footer-bl4 .input-mail input {
  padding-right: 0;
  margin-left: 15px;
  border: 0;
  width: 162px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0.15;
  color: #828e99;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
footer .footer-bl4 .input-mail button {
  border: 5px solid #4e5c6b;
  width: 98px;
  height: 40px;
  background-color: #00bc9c;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.bg-footer-dark {
  margin-top: 79px;
  min-height: 83px;
  background-color: #283645;
  padding-top: 34px;
}
.bg-footer-dark .footer-menu {
  padding: 0;
}
.bg-footer-dark .footer-menu a {
  display: inline-block;
  text-decoration: none;
  color: #707e8c;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 7px;
  margin-left: 7px;
}
.bg-footer-dark .footer-menu p {
  display: inline-block;
}
.bg-footer-dark .all-rights p {
  color: #707e8c;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.sq-fixed {
  width: 40px;
  height: 40px;
  border-radius: 3px 2px 2px 3px;
  background-color: #506a85;
  position: fixed;
  bottom: 22px;
  right: 20px;
}
.sq-fixed img {
  padding-top: 17px;
  padding-left: 12px;
}
